/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.topLine{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 126px;
  height: 30px;
  background-color: rgb(210, 210, 210);
}

.buttonNumber{
  height: 40px;
  width: 40px;
  font-size: 20px;
  margin-right: 3px;
  margin-bottom: 3px;
  background-color: rgb(243, 191, 95);
  border: 1px solid;
}

.buttonZero{
  height: 40px;
  width: 126px;
  border: 1px solid;
  font-size: 20px;
  background-color:  rgb(243, 191, 95);
  margin-bottom: 3px;
}

.action{
  border: 1px solid;
  width: 30px;
  margin-right: 2px;
  height: 30px;
  background-color: rgb(61, 61, 232);
  color: white;
}

.check{
  width: 126px;
  height: 30px;
  background-color: rgb(61, 61, 232);
  border: 1px solid;
  color: white;
}